Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system and also called as just database.

SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also, all of your data must follow the same structure.
This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system.

A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. This flexibility means that documents can be created without having a defined structure first. Also, each document can have its own unique structure.

Q.2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.DDL used to manage structure of databases and its objects.DDL statements are used to create modify and delete database objects such tables, views , indexes and schemas.

1.CREATE

The CREATE statement is used to create new database objects such as tables, views, indexes, or schemas. It defines the structure and attributes of the object being created.

2.DROP

DROP: The DROP statement is used to delete an existing database object, such as a table, index, or view. Be cautious when using DROP, as it permanently deletes the object and its data

In [ ]:
DROP TABLE employees;

3.ALTER

The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or drop columns from a table, change data types, or add constraints

4.TRUNCATE

The TRUNCATE statement is used to remove all rows from a table, but it keeps the structure intact. It is faster than using DELETE as it does not generate individual row-level delete operations.

Q.3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data within a database. DML consists of three main operations: INSERT, UPDATE, and DELETE

1.INSERT

The INSERT statement is used to add new records into a database table. It allows you to specify the values that should be inserted into each column of the table.

In [ ]:
INSERT INTO Employees (ID, Name, Salary)
VALUES (1, 'John Doe', 5000);

2.UPDATE

The UPDATE statement is used to modify existing records in a database table. It allows you to change the values of one or more columns based on specified conditions.

In [ ]:
UPDATE Employees
SET Salary = 6000
WHERE ID = 1;

3.DELETE

The DELETE statement is used to remove one or more records from a database table. It allows you to specify conditions to determine which records should be deleted.

In [ ]:
DELETE FROM Employees
WHERE Salary < 2000;

q.4.What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. DQL consists mainly of the SELECT statement, which is used to specify the columns and conditions for fetching data from one or more tables.

The SELECT statement retrieves data from one or more tables based on specified criteria. It allows you to specify the columns you want to retrieve, apply filters using conditions, perform calculations, and even join multiple tables to retrieve data from related entities.

In [ ]:
SELECT ID, Name
FROM Employees
WHERE Salary > 5000;

Q.5. Explain Primary Key and Foreign Key.

1.Primary Key

A primary key is a column or a set of columns in a table that uniquely identifies each record in the table. It ensures that each row in the table is unique and can be used as a reference to identify and retrieve specific records.

Each table can have only one primary key.
The primary key column(s) must have a unique value for each record.
The primary key column(s) cannot contain NULL values.
The primary key provides a way to enforce data integrity and maintain the uniqueness of records.

For example, consider a table called "Students" with columns "StudentID" (primary key), "Name," and "Age." The "StudentID" column uniquely identifies each student, and no two students can have the same "StudentID" value.

2.Foreign Key

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables by enforcing referential integrity. The foreign key column(s) in one table references the primary key column(s) in another table.

A table can have multiple foreign keys, referencing different tables.
The foreign key column(s) in the referencing table must have values that exist in the referenced table's primary key column(s).
The foreign key column(s) can contain NULL values if the relationship allows it.

For example, consider two tables: "Orders" and "Customers." The "Orders" table has a foreign key column "CustomerID" that references the primary key "CustomerID" in the "Customers" table. This establishes a relationship between the two tables, indicating that each order is associated with a specific customer

Q.6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we can use the mysql-connector-python library.

In [ ]:
import mysql.connector

# Connect to MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="test2"
)

# Create a cursor object
cursor = mydb.cursor()

# Execute SQL queries
cursor.execute("SELECT * FROM test_teble")
result = cursor.fetchall()  # Retrieve all rows

for row in result:
    print(row)

# Close the cursor and the database connection
cursor.close()
mydb.close()

Explanation of the cursor() method:

The cursor() method creates a cursor object, which allows you to execute SQL queries and fetch results from the database.
It is invoked on the database connection object (mydb.cursor() in this example) to create a new cursor associated with that connection.

In [ ]:
Explanation of the execute() method:

The execute() method is used to execute SQL queries or statements.
It is invoked on the cursor object (cursor.execute() in this example) to execute the specified query.
The SQL query is passed as a string parameter to the execute() method.

Q.7.Give the order of execution of SQL clauses in an SQL query

The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the table or tables from which the data will be retrieved. It defines the source tables for the query.

WHERE: The WHERE clause filters the rows based on specified conditions. It allows you to specify criteria to select only the rows that meet certain conditions.

GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It is typically used in combination with aggregate functions to perform calculations on each group.

HAVING: The HAVING clause filters the groups created by the GROUP BY clause. It allows you to specify conditions to filter the groups based on aggregate function results.

SELECT: The SELECT clause specifies the columns to be retrieved from the table(s). It determines the data that will be returned as the result of the query.

DISTINCT: The DISTINCT keyword, if used, removes duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It arranges the rows in ascending or descending order.

LIMIT/OFFSET: The LIMIT clause is used to limit the number of rows returned by the query. It is often used in combination with the ORDER BY clause. The OFFSET clause, if used, specifies the number of rows to skip before starting to return rows.

It's important to note that not all clauses are required in every SQL query, and the specific order of execution may vary based on the query structure. Additionally, some databases may have additional clauses or variations that can affect the order of execution. However, the order provided above represents the typical sequence of clauses in a basic SQL query.